body{
    font-family: 'Asap', sans-serif;
}

/* Macroaree */

header{
    padding-top: 15px;
    padding-bottom: 10px;
}

.white {
    color: black;
    background-color: white;
}

.blue{
    background-color: #0069ff;
    background-image: url("https://www.digitalocean.com//static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
    background-size: cover;
    background-position: center;;
    margin-top: 66px;
}

.lightgrey {
    background-color: #f3f5f9;
}

/* Fine Macroareee */

/* HEADER */
.logo-header {
    margin-top: 3px;
}

.list-nav{
    margin-left: 20px;
}

nav ul {
    margin-top: 7px;
}

.list-nav ul li{
    padding-right: 10px;
}

.list-nav ul li a {
    color: black;
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 0;
    text-decoration: none;
}

.list-nav ul li a:hover {
    color: #016bff;
    text-decoration: none;
}

.list-nav ul li a:focus {
    text-decoration: none;
}

.fa-chevron-down {
    font-size: 0.8em;
    color: #b1b8c6;
}

#button-header {
    float: right;
    padding-right: 0;
}

#button-header button {
    float: right;
    color: #016bff;
    background-color: transparent;
    text-transform: capitalize;
    border: 1px solid #016bff;
    border-radius: 5px;
    padding: 10px 20px;
    transition: 1s;
}

#button-header button:hover {
    color: white;
    background-color: #016bff;
}

/* FINE HEADER */

/* FIRST BLUE SECTION */

#jumbome {
    transition: 1s;
    color: white;
    padding: 200px 0 200px 0;
    background-color: transparent;
}

#jumbome h1 {
    font-weight: bold;
}

.sign-in {
    background-color: white;
    border-radius: 5px;
    margin-top: 80px;
    padding: 0;
}

.sign-in h4 {
    background-color: #f3f5f9;
    font-size: 1.3em;
    font-weight: bold;
    border-radius: 6px 6px 0 0;
    margin: 0;
    padding: 20px 0;
}

.form-group {
    margin: 0 auto;
    width: 80%;
    margin-bottom: 10px;
}

.form-group:nth-child(1) {
    margin-top: 30px;
}

.form-group input {
    font-size: 1.2em;
    padding: 20px 0 20px 10px;
    border: 1px solid #e5e8ed;
}

form button{
    color: white;
    background-color: #016bff;
    font-weight: bold;
    font-size: 1.2em;
    width: 80%;
    padding: 10px 0;
    margin-bottom: 30px;
    border: 1px solid #016bff;
    border-radius: 5px;
}

.sign-in hr {
    color: #f9fafc;
}

.sign-up-google {
    float: left;
    margin-left: 40px;
    color: #016bff;
    background-color: white;
    width: 63%;
}

.github-button {
    float: left;
    margin-left: 15px;
    color: #016bff;
    background-color: white;
    width: 13%;
}

.sign-in-footer {
    color: white;
    position: absolute;
    bottom: -40px;
    left: 50px;
}

/* END FIRST BLUE SECTION */

/* FIRST LIGHTGREY SECTION */

.brands h4 {
    color: #5b6987;
    margin: 50px 0;
    text-transform: uppercase;
}

.brands .brand {
    padding: 0;
}

.brand img {
    display: block;
    margin: 0 auto;
}

.brands h5 {
    font-size: 1.2em;
    margin: 50px 0;
}

.brands h5 a {
    color: #0069ff;
}

.brands h5 a:hover {
    color: #1633ff;
    text-decoration: none;
}

/* END FIRST SECTION GREY */

/* START SECOND SECTION WHITE */

.titles h2 {
    font-weight: bold;
    font-size: 3em;
    margin-top: 100px;
}

.titles p {
    color: #6f69a5;
    display: inline-block;
    margin: 20px auto;
    width: 70%;
    font-size: 1.4em;
    font-weight: lighter;
}

.list-deploy {
    margin-top: 50px;
}

.list-deploy ul {
    list-style: none;
    padding: 0;
}

.list-deploy li {
    text-align: left;
    padding: 15px 10px;
    border-left: 2px solid lightgrey;
}

.list-deploy li:hover {
    border-left: 2px solid #0069ff;
}

.list-deploy a {
    color: rgba(3, 27, 78, 0.6);
    text-transform: capitalize;
    color: black;
    text-decoration: none;
    font-size: 1.3em;
    padding: 20px 10px;
}

.list-deploy a:hover{
    color: rgba(3, 27, 78 );
}

.cards {
    text-align: left;
    margin-bottom: 50px;
}

.card {
    margin-bottom: 75px;
}

.card h3 {
    text-transform: capitalize;
    font-size: 1.5;
}

.card p {
    color: #5b6987;
    font-size: 1.2em;
}

/* END SECOND SECTION WHITE */

/* START SECOND LIGHTGREY SECTION */

.image-developers img {
    display: block;
    margin: 40px auto;
}

.image-developers:before {
    position: absolute;
    top: 325px;
    left: -50px;
    font-size: 35px;
    content: '\02C2';
    cursor: pointer;
}

.image-developers:after {
    position: absolute;
    top: 325px;
    right: -50px;
    font-size: 35px;
    content: ' \02C3';
    cursor: pointer;
}

.image-developers p {
    color: #5b6987;
    display: inline-block;
    margin: 10px auto;
    font-size: 1.2em;
    width: 60%;
}

.radios {
    margin: 20px 0 100px 0;
}

.radios input[type="radio"] {
    background-color: #0069ff;
    display: inline-block;
    margin: 0 10px;
}

.radios input[type="radio"]:checked {
    background-color: #0069ff;
}
