body{
    font-family: 'Asap', sans-serif;
}

/* Macroaree */

header{
    position: fixed;
    top: 0;
    left : 0;
    right: 0;
    z-index: 9999;
    padding-top: 15px;
    padding-bottom: 10px;
}

.white {
    color: black;
    background-color: white;
}

.blue{
    background-color: #0069ff;
    background-image: url("https://www.digitalocean.com//static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
    background-size: cover;
    background-position: center;
    margin-top: 66px;
}

.nations {
    color: white;
    background: #031b4e;
    background-image: url("https://images.prismic.io/www-static/bb563ec9-49ef-4ceb-8468-da84f1509fcc_bg-map-solid.svg?auto=compress,format");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.lightgrey {
    background-color: #f3f5f9;
}

.register {
    background-color: #0069ff;
    background-image: url("https://images.prismic.io/www-static/b4ba92a9-0956-484b-9a3f-68ef4d550fd4_bg-home-cta.svg?auto=compress,format");
    background-size: cover;
}

.black {
    background-color: #010e28;
}

/* Fine Macroareee */

/* HEADER */
.logo-header {
    margin-top: 3px;
}

.hamburger {
    float: right;
    font-size: 36px;
    display: none;
}

.hamburger:hover {
    color: white;
    cursor: pointer;
    border-radius: 10px;
    background-color: #0060ff;
}

.list-nav{
    margin-left: 20px;
}

nav ul {
    margin-top: 7px;
}

.list-nav ul li{
    padding-right: 10px;
}

.list-nav ul li a {
    color: black;
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 0;
    text-decoration: none;
}

.list-nav ul li a:hover {
    color: #016bff;
    text-decoration: none;
}

.list-nav ul li a:focus {
    text-decoration: none;
}

.fa-chevron-down {
    font-size: 0.8em;
    color: #b1b8c6;
}

#button-header {
    float: right;
    padding-right: 0;
}

#button-header button {
    float: right;
    color: #016bff;
    background-color: transparent;
    text-transform: capitalize;
    border: 1px solid #016bff;
    border-radius: 5px;
    padding: 10px 20px;
    transition: 1s;
}

#button-header button:hover {
    color: white;
    background-color: #016bff;
}

/* FINE HEADER */

/* FIRST BLUE SECTION */

#jumbome {
    transition: 1s;
    color: white;
    padding: 200px 0 200px 0;
    background-color: transparent;
}

#jumbome h1 {
    font-weight: bold;
}

.sign-in {
    background-color: white;
    border-radius: 5px;
    margin-top: 80px;
    padding: 0;
}

.sign-in h4 {
    background-color: #f3f5f9;
    font-size: 1.3em;
    font-weight: bold;
    border-radius: 6px 6px 0 0;
    margin: 0;
    padding: 20px 0;
}

.form-group {
    margin: 0 auto;
    width: 80%;
    margin-bottom: 10px;
}

.form-group:nth-child(1) {
    margin-top: 30px;
}

.form-group input {
    font-size: 1.2em;
    padding: 20px 0 20px 10px;
    border: 1px solid #e5e8ed;
}

form button{
    color: white;
    background-color: #016bff;
    font-weight: bold;
    font-size: 1.2em;
    width: 80%;
    padding: 10px 0;
    margin-bottom: 30px;
    border: 1px solid #016bff;
    border-radius: 5px;
}

.sign-in hr {
    color: #f9fafc;
}

.sign-up-google {
    float: left;
    margin-left: 40px;
    color: #016bff;
    background-color: white;
    width: 63%;
}

.github-button {
    float: left;
    margin-left: 15px;
    color: #016bff;
    background-color: white;
    width: 13%;
}

.sign-in-footer {
    color: white;
    position: absolute;
    bottom: -40px;
}

/* END FIRST BLUE SECTION */

/* FIRST LIGHTGREY SECTION */

.brands h4 {
    color: #5b6987;
    margin: 50px 0;
    text-transform: uppercase;
}

.brands .brand {
    padding: 0;
}

.brand img {
    display: block;
    margin: 0 auto;
}

.brands h5 {
    font-size: 1.2em;
    margin: 50px 0;
}

.brands h5 a {
    color: #0069ff;
}

.brands h5 a:hover {
    color: #1633ff;
    text-decoration: none;
}

/* END FIRST SECTION GREY */

/* START SECOND SECTION WHITE */

.titles h2 {
    font-weight: bold;
    font-size: 3em;
    margin-top: 100px;
}

.titles p {
    color: #031b4e;
    display: inline-block;
    margin: 20px auto;
    width: 70%;
    font-size: 1.4em;
    font-weight: lighter;
}

.list-deploy {
    margin-top: 50px;
}

.list-deploy ul {
    list-style: none;
    padding: 0;
}

.list-deploy li {
    text-align: left;
    padding: 15px 10px;
    border-left: 2px solid lightgrey;
}

.list-deploy li:hover {
    border-left: 2px solid #0069ff;
}

.list-deploy a {
    color: rgba(3, 27, 78, 0.6);
    text-transform: capitalize;
    color: black;
    text-decoration: none;
    font-size: 1.3em;
    padding: 20px 10px;
}

.list-deploy a:hover{
    color: rgba(3, 27, 78 );
}

.cards {
    text-align: left;
    margin-bottom: 50px;
}

.card {
    margin-bottom: 75px;
    transition: 1s;
}

.card:hover {
    cursor: pointer;
}

.card h3 {
    text-transform: capitalize;
    font-size: 1.5em;
}

.card p {
    color: #5b6987;
    font-size: 1.2em;
}

.card a{
    color: #0069ff;
    font-size: 1.2em;
    text-decoration: none;
}

.card a i{
    color: #0069ff;
    font-size: 12px;
}

/* END SECOND SECTION WHITE */

/* START SECOND LIGHTGREY SECTION */

.image-developers img {
    display: block;
    margin: 40px auto;
}

.image-developers:before {
    position: absolute;
    top: 325px;
    left: -50px;
    font-size: 35px;
    content: '\02C2';
    cursor: pointer;
}

.image-developers:after {
    position: absolute;
    top: 325px;
    right: -50px;
    font-size: 35px;
    content: ' \02C3';
    cursor: pointer;
}

.image-developers p {
    color: #5b6987;
    display: inline-block;
    margin: 10px auto;
    font-size: 1.2em;
    width: 60%;
}

.radios {
    margin: 20px 0 100px 0;
}

 input[type="radio"] {
    background-color: #0069ff;
    display: inline-block;
    margin: 0 10px;
}

 input[type="radio"]:checked {
    background-color: #0069ff;
}

/* FINISH SECOND LIGHTGREY SECTION */

/* START THIRD SECTION WHITE */

.built {
    margin: 50px 0;
}

/* END THIRD SECTION WHITE */

/* START NATIONS SECTION */

.titles-bg-blue h2 {
    font-weight: bold;
    font-size: 3em;
    margin-top: 100px;
}

.titles-bg-blue p {
    color: white;
    display: inline-block;
    margin: 20px auto;
    font-size: 1.4em;
    font-weight: lighter;
}

.titles-bg-blue p a {
    text-decoration: none;
}

.flights {
    margin: 30px 0 50px 0;
}

.row-flight {
    border-bottom: 1px solid hsla(0,0%,100%,0.2);
    padding: 10px 0;
}

.flight-code,
.destination,
.test-speed{
    float: left;
}

.flight-code {
    font-weight: bold;
    text-transform: uppercase;
    /* margin-right: 60px; */
}

.destination {
    position: absolute;
    left: 120px;
    color: #5b6987;
}

.test-speed {
    margin-left: 223px;
    float: right;
}

.test-speed a {
    text-transform: capitalize;
    color: #00d7d2;
    text-decoration: none;
}

.test-speed a:hover {
    color: #0069ff;
}

.test-speed a i {
    margin-left: 5px;
}

/* END NATION SECTION */

/* START THIRD LIGHTGREY SECTION */

.development {
    margin-top: 30px;
    margin-bottom: 40px;
    background-color: white;
    border-radius: 5px;
}

.image-development {
    width: 20%;
    display: block;
    margin: 40px auto 20px auto;
}

.development:before {
    display: inline-block;
    position: absolute;
    top: 120px;
    left: -100px;
    font-size: 35px;
    content: '\02C2';
    cursor: pointer;
}

.development:after {
    display: inline-block;
    position: absolute;
    top: 120px;
    right: -100px;
    font-size: 35px;
    content: ' \02C3';
    cursor: pointer;
}

.development p {
    color: #5b6987;
    display: inline-block;
    margin: 10px auto 30px auto;
    font-size: 2em;
}

.bio {
    width: 15%;
    margin: 10px auto 50px auto;
}

.bio h5{
    color: #5b6987;
    font-size: 1.2em
}

.bio h6 {
    color: #99a1b3;
    font-size: 0.9em
}

/* END THIRD LIGHTGREY SECTION */

/* START SECOND DARKBLUE SECTION */

.get-started {
    text-align: center;
}

.register h2 {
    color: white;
    font-weight: bold;
    font-size: 2.5em;
    padding: 50px 0;
}

.register button {
    transition: 1s;
    font-size: 1.3em;
    font-weight: bold;
    color: #016bff;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 15px 20px;
    border: 0;
    border-radius: 5px;
}

.register button:hover {
    background-color: rgba(225,225,225,0.9);
}

/* END SECOND DARKBLUE SECTION */

/* START FOOTER */

.footer-list {
    padding-top: 80px;
    padding-left: 50px;
    border-bottom: 1px solid hsla(0,0%,100%,0.2);
}

.footer-items {
    padding: 0;
}

.black ul {
    list-style: none;
}

.black ul li {
    text-align: left;
    padding-bottom: 10px;
}

.black a {
    text-decoration: none;
    font-size: 1.1em;
    text-align: left;
}

.black ul li a{
    color: hsla(0,0%,100%,0.5);
}

.black ul li a:hover {
    color: white;
}

.black ul li:first-child {
    padding-bottom: 20px;
}

.black ul li:first-child a{
    color: white;
}

.padding-xs-footer {
    padding: 0;
}

hr {
    color: hsla(0,0%,100%,0.5);
}

.footer-bottom-left,
.footer-bottom-right {
    margin-top: 30px;
    margin-bottom: 60px;
}

.footer-bottom-left img{
    display: inline-block;
}

.footer-bottom-left p {
    color: hsla(0,0%,100%,0.5);
    padding-left: 20px;
    display: inline-block;
}

.footer-bottom-right ul{
    margin-top: 10px;
    padding: 0;
}

.footer-bottom-right li {
    margin-right: 5px;
}

.footer-bottom-right i{
    font-size: 22px!important;
    color: hsla(0,0%,100%,0.5);
}

.footer-bottom-right ul li a i:hover {
    color: white;
}

/* END FOOTER */

/* MEDIA QUERY MOBILE DEVICES */

@media screen and (max-width: 768px) {

    header {
        position: absolute;
    }

    .list-nav {
        display: none;
    }

    #button-header {
        display: none;
    }

    .hamburger {
        display: inline-block;
    }

    #jumbome {
        text-align: center;
        transition: 1s;
        color: white;
        padding-top: 50px;
        padding-bottom: 0;
        background-color: transparent;
    }

    #jumbome h1 {
        font-size: 3em;
        font-weight: bold;
    }

    #jumbome p {
        padding: 45px;
    }

    .sign-in {
        margin-bottom: 75px;
    }

    .sign-in-footer {
        left: 0;
        margin: 0 auto;
    }

    .brand {
        margin: 0;
    }

    .list-deploy {
        margin-top: 50px;
    }

    .items-list-deploys {
        margin-bottom: 25px;
    }

    .list-deploy ul {
        list-style: none;
        margin-bottom: 20px;
    }

    .list-deploy li {
        text-align: center;
        float: left;
        width: 20%;
        padding: 15px 10px;
        border-left: 0;
        border-bottom: 2px solid lightgrey;
    }

    .list-deploy li:hover {
        border-bottom: 2px solid #0069ff;
    }

    .list-deploy a {
        color: rgba(3, 27, 78, 0.6);
        text-transform: capitalize;
        color: black;
        text-decoration: none;
        font-size: 1.3em;
        padding: 20px 10px;
    }

    .list-deploy a:hover{
        color: rgba(3, 27, 78 );
    }

    .cards {
        margin-bottom: 0;
    }

    .flights .flights:nth-child(1) {
        margin-bottom: 0;
        margin-top: 0;
    }

    .flights .flights:nth-child(2) {
        margin-top: 0;
    }

    .register h2 {
        float: none;
        text-align: center;
    }

    .register button {
        float: none;
        margin: 0 auto 50px auto;
    }

    .footer-items {
        padding-left: 0;
    }

    .padding-xs-footer {
        padding-left: 0;
    }

    .footer-bottom-left img {
        margin-bottom: 10px;
    }

    .footer-bottom-left p {
        color: hsla(0,0%,100%,0.5);
        padding-left: 20px;
        display: inline-block;
        margin-bottom: 0;
    }

}

/* MEDIA QUERY TABLET */

@media screen and (max-width: 991px) {

    header {
        position: absolute;
    }

    .list-nav {
        display: none;
    }

    #button-header {
        display: none;
    }

    .hamburger {
        display: inline-block;
        height: 100%;
    }

    #jumbome {
        text-align: center;
        transition: 1s;
        color: white;
        padding-top: 50px;
        padding-bottom: 0;
        background-color: transparent;
    }

    #jumbome h1 {
        font-size: 3em;
        font-weight: bold;
    }

    #jumbome p {
        padding: 0;
    }

    .sign-in {
        margin-bottom: 75px;
    }

    .sign-in-footer {
        left: 0;
        margin: 0 auto;
    }

    .brands .brand:nth-child(4) {
        margin-top: 5px;
    }

    .brands .brand:nth-child(6) {
        margin-top: -3px;
    }

    .cards {
        margin-bottom: 0;
    }

    .image-developers p {
        width: 100%;
    }

    .image-developers:before {
        position: absolute;
        top: 165px;
        left: -50px;
        font-size: 35px;
        content: '\02C2';
        cursor: pointer;
    }

    .image-developers:after {
        position: absolute;
        top: 165px;
        right: -50px;
        font-size: 35px;
        content: ' \02C3';
        cursor: pointer;
    }

    .titles h2 {
        margin: 50px 0 30px 0;
    }

    .flights .flights:nth-child(1) {
        margin-bottom: 0;
        margin-top: 0;
    }

    .flights .flights:nth-child(2) {
        margin-top: 0;
    }

    .titles p {
        width: 100%;
    }

    .footer-bottom-right {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .footer-bottom-right i {
        font-size: 29px!important;
    }

    .footer-bottom-left img {
        margin-bottom: 10px;
    }

}
